* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input[type="text"], select {
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; /* Remove default styles in Safari */
  -moz-appearance: none; /* Remove default styles in Firefox */
  border-radius: 0; /* Remove rounded corners */
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(252, 252, 206);
}

.container {
 width: 90%;
 max-width: 1024px;
 margin-inline: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(155, 181, 37);
  color: #A1Ad25;
}

button {
  background-color:  rgb(155, 181, 37);
  color: rgb(252, 252, 206);
}

